@page
@model Tweetr.Pages.Signup.IndexModel
@{
    ViewData["Title"] = "Signup";
}

<p>
    <a asp-page="/Login/Index"><i class="bi bi-arrow-left"></i></a>
    <span class="h5">Sign up</span>
</p>
<hr class="col-6" />

<form class="col-6 mb-3" method="post">

    <!-- Name -->
    <div class="form-group mb-3">
        <label asp-for="User.Name" class="control-label"></label>
        <input asp-for="User.Name" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>

    <!-- Email -->
    <div class="form-group mb-3">
        <label asp-for="User.Email" class="control-label"></label>
        <input required type="email" asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <!-- Birthdate -->
    <div class="form-group mb-3">
        <label asp-for="User.Birthdate" class="control-label"></label>
        <input type="date" asp-for="User.Birthdate" class="form-control" />
        <span asp-validation-for="User.Birthdate" class="text-danger"></span>
    </div>

    <!-- Username -->
    <div class="form-group mb-3">
        <label asp-for="User.Username" class="control-label"></label>
        <input asp-for="User.Username" class="form-control" />
        <span asp-validation-for="User.Username" class="text-danger"></span>
    </div>

    <!-- Password -->
    <div class="form-group mb-3">
        <label asp-for="User.Password" class="control-label"></label>
        <input type="password"  asp-for="User.Password" class="form-control" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>

    <!-- Confirm Password -->
    <div class="form-group mb-3">
        <label class="control-label">Confirm Password</label>
        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>

    <!-- Submit -->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>